<h1> Stats for {{ first_name }} {{ last_name }} - {{ current_team }} <img src="{{ teamLogoLocation }}" height="30px"></h1>

<div class="table-wrapper">
    <span>Career Averages</span>
    <div id="table-scroll">
        <table id="player_table">
            <tr>
                <th> Season </th>
                <th> Team </th>
                <th> PPG </th>
                <th> RPG </th>
                <th> APG </th>
                <th> MPG </th>
                <th> TOPG </th>
                <th> SPG </th>
                <th> BPG </th>
                <th> Ast </th>
                <th> Blk </th>
                <th> Stl </th>
                <th> TO </th>
                <th> OReb </th>
                <th> DReb </th>
                <th> Reb </th>
                <th> FGM </th>
                <th> FGA </th>
                <th> FG% </th>
                <th> 3PM </th>
                <th> 3PA </th>
                <th> 3P% </th>
                <th> FTM </th>
                <th> FTA </th>
                <th> FT% </th>
                <th> Fouls </th>
                <th> Points </th>
                <th> Games </th>
                <th> Starts </th>
                <th> +/- </th>
                <th> Mins </th>
            </tr>
            <tr *ngFor="let season of seasons">
                <td> {{ season["seasonYear"] }} </td>
                <td> {{ season["seasonTeams"].length > 1 ? season["seasonTeams"][1] + "/" + season["seasonTeams"][0] : season["seasonTeams"][0] }} </td>
                <td> {{ season["ppg"] }} </td>
                <td> {{ season["rpg"] }} </td>
                <td> {{ season["apg"] }} </td>
                <td> {{ season["mpg"] }} </td>
                <td> {{ season["topg"] }} </td>
                <td> {{ season["spg"] }} </td>
                <td> {{ season["bpg"] }} </td>
                <td> {{ season["assists"] }} </td>
                <td> {{ season["blocks"] }} </td>
                <td> {{ season["steals"] }} </td>
                <td> {{ season["turnovers"] }} </td>
                <td> {{ season["offReb"] }} </td>
                <td> {{ season["defReb"] }} </td>
                <td> {{ season["totReb"] }} </td>
                <td> {{ season["fgm"] }} </td>
                <td> {{ season["fga"] }} </td>
                <td> {{ season["fgp"] }} </td>
                <td> {{ season["tpm"] }} </td>
                <td> {{ season["tpa"] }} </td>
                <td> {{ season["tpp"] }} </td>
                <td> {{ season["ftm"] }} </td>
                <td> {{ season["fta"] }} </td>
                <td> {{ season["ftp"] }} </td>
                <td> {{ season["pFouls"] }} </td>
                <td> {{ season["points"] }} </td>
                <td> {{ season["gamesPlayed"] }} </td>
                <td> {{ season["gamesStarted"] }} </td>
                <td> {{ season["plusMinus"] }} </td>
                <td> {{ season["min"] }} </td>
            </tr>
            <tr>
                <td colspan="2"> Career </td>
                <td> {{ careerSummary["ppg"] }} </td>
                <td> {{ careerSummary["rpg"] }} </td>
                <td> {{ careerSummary["apg"] }} </td>
                <td> {{ careerSummary["mpg"] }} </td>
                <td> {{ careerSummary["topg"] }} </td>
                <td> {{ careerSummary["spg"] }} </td>
                <td> {{ careerSummary["bpg"] }} </td>
                <td> {{ careerSummary["assists"] }} </td>
                <td> {{ careerSummary["blocks"] }} </td>
                <td> {{ careerSummary["steals"] }} </td>
                <td> {{ careerSummary["turnovers"] }} </td>
                <td> {{ careerSummary["offReb"] }} </td>
                <td> {{ careerSummary["defReb"] }} </td>
                <td> {{ careerSummary["totReb"] }} </td>
                <td> {{ careerSummary["fgm"] }} </td>
                <td> {{ careerSummary["fga"] }} </td>
                <td> {{ careerSummary["fgp"] }} </td>
                <td> {{ careerSummary["tpm"] }} </td>
                <td> {{ careerSummary["tpa"] }} </td>
                <td> {{ careerSummary["tpp"] }} </td>
                <td> {{ careerSummary["ftm"] }} </td>
                <td> {{ careerSummary["fta"] }} </td>
                <td> {{ careerSummary["ftp"] }} </td>
                <td> {{ careerSummary["pFouls"] }} </td>
                <td> {{ careerSummary["points"] }} </td>
                <td> {{ careerSummary["gamesPlayed"] }} </td>
                <td> {{ careerSummary["gamesStarted"] }} </td>
                <td> {{ careerSummary["plusMinus"] }} </td>
                <td> {{ careerSummary["min"] }} </td>
            </tr>
        </table>
    </div>
</div>