th {
    text-align: left;
}

th, td {
    padding: 8px;
}

td {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table#player_table tr:nth-child(even) {
    background-color: #eee;
}

table#player_table tr:nth-child(odd) {
   background-color: #fff;
}

table#player_table th {
    background-color: var(--team_primary);
    color: var(--team_secondary);
    text-align: center;
}

#table-wrapper {
    position: relative;
}

#table-scroll {
    overflow: auto;  
    margin-top: 15px;
}