<div class="container mt-3">
    <table style="width: 100%" id="overall_table">
        <tr>
            <th style="width: 5%"> Rank </th>
            <th style="width: 20%"> Team </th>
            <th style="width: 10%"> Record </th>
            <th style="width: 5%"> Win Pct. </th>
            <th style="width: 10%"> Conf. Record </th>
            <th style="width: 10%"> Div. Record </th>
            <th style="width: 10%"> Home Record </th>
            <th style="width: 10%"> Away Record </th>
            <th style="width: 10%"> L10 </th>
            <th style="width: 10%"> Streak </th>
        </tr>
        <tr *ngFor="let team of overall_standings; index as i">
            <td> {{ i + 1 }} </td>
            <td>
                {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}<a [routerLink]="['/team', team['teamId'], seasonYear]">{{ team["teamName"] }} {{ team["teamNickname"] }}</a>
            </td>
            <td> {{ team["win"] }} - {{ team["loss"] }} </td>
            <td> {{ team["winPct"] }} </td>
            <td> {{ team["confWin"] }} - {{ team["confLoss"] }} </td>
            <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
            <td> {{ team["homeWin"] }} - {{ team["homeLoss"] }} </td>
            <td> {{ team["awayWin"] }} - {{ team["awayLoss"] }} </td>
            <td> {{ team["lastTenWin"] }} - {{ team["lastTenLoss"] }} </td>
            <td> {{ team["streakText"] }} </td>
        </tr>
    </table>
</div>