<div class="row">
    <div class="column">
        <img src="{{ team_attributes['teamPrimaryLogoLocation'] }}" style="max-height: 250px; max-width: 200px; margin-left: 50px; margin-top: 50px">
    </div>
    <div class="column" style="margin-top: 50px">
        <table>
            <tr>
                <td>
                    <span>Team Name</span>
                    <br>
                    {{ team_attributes['teamName'] }}
                </td>
            </tr>
            <tr>
                <td>
                    <span>Tricode</span>
                    <br>
                    {{ team_attributes['teamtricode'] }}
                </td>
            </tr>
            <tr>
                <td>
                    <span>Current Record</span>
                    <br>
                    {{ team_data['win'] }} - {{ team_data['loss'] }}</td>
            </tr>
            <tr>
                <td>
                    <span>Conf. Standing</span>
                    <br>
                    {{ team_data['confRank'] == 1 ? "1st" : team_data['confRank'] == 2 ? "2nd" : team_data['confRank'] == 3 ? "3rd" : team_data['confRank'] + "th" }} in {{ team_attributes['confName'] }}ern Conference
                </td>
            </tr>
            <tr>
                <td>
                    <span>Div. Standing</span>
                    <br>
                    {{ team_data['divRank'] == 1 ? "1st" : team_data['divRank'] == 2 ? "2nd" : team_data['divRank'] == 3 ? "3rd" : team_data['divRank'] + "th" }} in {{ team_attributes['divName'] }} Division
                </td>
            </tr>
        </table>
    </div>
    <div class="column" style="margin-top: 50px">
        <table>
            <tr *ngFor="let coach of coaches_list">
                <td>
                    <span>{{ coach["coachRole"] }}</span>
                    <br>
                    {{ coach["firstName"] }} {{coach["lastName"] }}
                </td>
            </tr>
        </table>
    </div>
</div>