th, td, h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
  font-size: small;
  color: dimgray;
}


th {
  text-align: left;
}

th, td {
  padding: 8px;
}

td {
  text-align: center;
}

table, th, td {
  border: 0px;
  border-collapse: collapse;
}

table#team_table tr:nth-child(even) {
  background-color: #eee;
}

table#team_table tr:nth-child(odd) {
 background-color: #fff;
}

table#team_table th {
  background-color: var(--team_primary);
  color: var(--team_secondary);
  text-align: center;
}

.column {
    float: left;
    width: 33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }