<div class="scrolling-wrapper">
    <div class="no_games_card" *ngIf="games.length === 0; else elseBlock" style="width:100%">
        <div class="container">
            <div style="text-align: left;">
                <h3>No NBA Games Today!</h3>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="card" *ngFor="let game of games" style="width:12%">
            <div class="container" [routerLink]="['/date', date, game['game_Id']]">
                <div>
                    <div style="text-align: center;">
                        {{ game["label"] }} 
                    </div>
                    <table style="width:100%">
                        <tr>
                            <th width="35%"></th>
                            <th width="32.5%"></th>
                            <th width="32.5%"></th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <img src="{{ game['visitingTeamLogoLocation'] }}" height="17px">
                            </td>
                            <td> {{ game["visitingTeam"] }} </td>
                            <td style="text-align: right;"> {{ game["visitingScore"] }} </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <img src="{{ game['homeTeamLogoLocation'] }}" height="17px">
                            </td>
                            <td> {{ game["homeTeam"] }} </td>
                            <td style="text-align: right;"> {{ game["homeScore"] }} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </ng-template>
</div> 