<div>
    <table style="width: 230px; margin-left: auto; margin-right: auto;">
        <tr>
            <th style="width: 20%">
                <button (click)="previousMonth()"> < </button>
            </th>
            <th style="width: 60%">
                <b>{{ month_and_year }}</b>
            </th>
            <th style="width: 20%">
                <button (click)="nextMonth()"> > </button>
            </th>
    </table>
</div>
<table style="width: 300px" id="calendar">
    <tr>
        <th style="width: 14.28%; padding: 3px;">Sun</th>
        <th style="width: 14.28%; padding: 3px;">Mon</th>
        <th style="width: 14.28%; padding: 3px;">Tue</th>
        <th style="width: 14.28%; padding: 3px;">Wed</th>
        <th style="width: 14.28%; padding: 3px;">Thu</th>
        <th style="width: 14.28%; padding: 3px;">Fri</th>
        <th style="width: 14.28%; padding: 3px;">Sat</th>
    </tr>
    <tr *ngFor="let week of calendar; index as i">
        <td *ngFor="let day of week; index as j">
            <div *ngIf="calendar[i][j]">
                <div *ngIf="day === current_day && temp_month === current_month && temp_year === current_year; else elseBlock"
                    style="text-align: center;">
                <p style="font-size: large;">
                    <b>{{ day }}</b>
                </p>
                <p style="font-size: small">
                    {{ num_of_games[temp_year + "" + (temp_month < 10 ? '0' + temp_month : temp_month) + "" + (day < 10 ? '0' + day : day)] == undefined ? '0' : num_of_games[temp_year + "" + (temp_month < 10 ? '0' + temp_month : temp_month) + "" + (day < 10 ? '0' + day : day)]}}
                </p>
                <p style="font-size: xx-small;">
                    {{ num_of_games[temp_year + "" + (temp_month < 10 ? '0' + temp_month : temp_month) + "" + (day < 10 ? '0' + day : day)] == 1 ? "Game" : "Games" }}
                </p>
                </div>
                <ng-template #elseBlock>
                    <div style="text-align: center;">
                        <a [routerLink]="['/date/', temp_year + '' + (temp_month < 10 ? '0' + temp_month : temp_month) + '' + (day < 10 ? '0' + day : day)]">
                            <p style="font-size: large;">
                                {{ day }}
                            </p>
                            <p style="font-size: small">
                                {{ num_of_games[temp_year + "" + (temp_month < 10 ? '0' + temp_month : temp_month) + "" + (day < 10 ? '0' + day : day)] == undefined ? '0' : num_of_games[temp_year + "" + (temp_month < 10 ? '0' + temp_month : temp_month) + "" + (day < 10 ? '0' + day : day)] }}
                            </p>
                            <p style="font-size: xx-small;">
                                {{ num_of_games[temp_year + "" + (temp_month < 10 ? '0' + temp_month : temp_month) + "" + (day < 10 ? '0' + day : day)] == 1 ? "Game" : "Games" }}
                            </p>
                        </a>
                    </div>
                </ng-template>
            </div>
        </td>
    </tr>
</table>