<title>{{ visiting_team }} vs. {{ home_team }} page</title>

<app-header></app-header>

<br>

<div style="width: 75%; margin-left: auto; margin-right: auto;">
    <app-scoreboard [useSecondaryLogos]="false" [date]="date" [gameId]="game_data['gameId']" [statusNum]="statusNum"></app-scoreboard>
</div>

<br>

<!-- Tab links -->
<div class="tab">
    <button class="tablinks" id="preview_tab" (click)="switchTab($event, 'preview')" [hidden]="!isPreviewArticleAvail || statusNum != 1">Preview</button>
    <button class="tablinks" id="recap_tab" (click)="switchTab($event, 'recap')" [hidden]="!isRecapArticleAvail || statusNum != 3">Recap</button>
    <button class="tablinks" id="game_info_tab" (click)="switchTab($event, 'game_info')">Game Info</button>
    <button class="tablinks" id="series_hub_tab" (click)="switchTab($event, 'series_hub')" [hidden]="!game_data['isPlayoffs']">Series Hub</button>
    <button class="tablinks" id="team_leaders_tab" (click)="switchTab($event, 'team_leaders')" [hidden]="statusNum != 1">Team Leaders</button>
    <button class="tablinks" id="pbp_tab" (click)="switchTab($event, 'pbp')" [hidden]="statusNum === 1">Play-by-play</button>
    <button class="tablinks" id="totals_tab" (click)="switchTab($event, 'totals')" [hidden]="statusNum === 1">Totals</button>
    <button class="tablinks" id="boxscore_tab" (click)="switchTab($event, 'boxscore')" [hidden]="statusNum === 1">Boxscore</button>
</div>

<!-- Tab content -->
<div id="game_info" class="tabcontent">
    <table style="width:100%" id="info">
        <tr>
            <td width="50%"> Date </td>
            <td width="50%"> {{ longDate }} </td>
        </tr>
        <tr>
            <td> Start Time </td>
            <td> {{ game_data["startTime"] }} </td>
        </tr>
        <tr>
            <td> Arena Name </td>
            <td> {{ game_data["arena_name"] }} </td>
        </tr>
        <tr>
            <td> Location </td>
            <td> {{ game_data["arena_location"] }} </td>
        </tr>
        <tr *ngIf="game_data['attendance']">
            <td> Attendance </td>
            <td> {{ game_data["attendance"] }} </td>
        </tr>
        <tr *ngIf="game_data['vSeriesWins'] && game_data['vSeriesLoss']
                && game_data['hSeriesWins'] && game_data['hSeriesLoss']">
            <td> Series Record </td>
            <td> {{ visiting_team_tricode }} {{ game_data["vSeriesWins"] }} - {{ game_data["hSeriesWins"]}} {{ home_team_tricode }} </td>
        </tr>
        <tr *ngIf="game_data['broadcastersNational']">
            <td> National Broadcast </td>
            <td> {{ game_data["broadcastersNational"] }} </td>
        </tr>
        <tr *ngIf="game_data['vTeamBroadcasters']">
            <td> Visitor Broadcast </td>
            <td> {{ game_data["vTeamBroadcasters"] }} </td>
        </tr>
        <tr *ngIf="game_data['hTeamBroadcasters']">
            <td> Home Broadcast </td>
            <td> {{ game_data["hTeamBroadcasters"] }} </td>
        </tr>
        <tr *ngIf="game_data['officials']">
            <td> Officials </td>
            <td> {{ game_data["officials"] }} </td>
        </tr>
        <tr *ngIf="game_data['previousMatchup_gameDate']">
            <td colspan="2"><a href="date/{{ game_data['previousMatchup_gameDate'] }}/{{ game_data['previousMatchup_gameId'] }}"> Previous matchup </a></td>
        </tr>
    </table>
</div>

<div id="series_hub" class="tabcontent" [hidden]="!game_data['isPlayoffs']">
    <app-series [seriesId]="game_data['seriesId']" [year]="seasonYear" [current_gameId]="gameId"></app-series>
</div>

<div id="team_leaders" class="tabcontent" [hidden]="statusNum != 1">
    <app-team-leaders [vTeamId]="visiting_team_id" [hTeamId]="home_team_id" [year]="seasonYear"></app-team-leaders>
</div>

<div id="pbp" class="tabcontent" [hidden]="statusNum === 1">
    <app-pbp [date]="date" [gameId]="gameId" [statusNum]="statusNum"></app-pbp>
</div>

<div id="preview" class="tabcontent" [hidden]="!isPreviewArticleAvail || statusNum != 1">
    <h3>{{ preview_data["title"] }} </h3>
    <h5 [hidden]="!preview_data['author']">{{ preview_data["author"] }}, {{ preview_data["authorTitle"] }} </h5>
    
    <p *ngFor="let paragraph of preview">
        {{ paragraph }}
    </p>
</div>

<div id="recap" class="tabcontent" [hidden]="!isRecapArticleAvail || statusNum != 3">
    <h3>{{ recap_data["title"] }} </h3>
    <h5 [hidden]="!recap_data['author']">{{ recap_data["author"] }}, {{ recap_data["authorTitle"] }} </h5>
    
    <p *ngFor="let paragraph of recap">
        {{ paragraph }}
    </p>
</div>

<div id="totals" class="tabcontent" [hidden]="statusNum === 1">
    <app-totals [date]="date" [gameId]="gameId" [statusNum]="statusNum"></app-totals>
</div>

<div id="boxscore" class="tabcontent" [hidden]="statusNum === 1">
    <app-boxscore [date]="date" [gameId]="gameId" [statusNum]="statusNum"></app-boxscore>
</div>