<title>{{ visiting_team }} vs. {{ home_team }} page</title>

<h1> NBA Game </h1>

<app-scoreboard [useSecondaryLogos]="false" [date]="date" [gameId]="gameId" [statusNum]="statusNum"></app-scoreboard>

<!-- Tab links -->
<div class="tab">
    <button class="tablinks" id="preview_tab" (="switchTab(event, 'preview')" [hidden]="!isPreviewArticleAvail || statusNum != 1">Preview</button>
    <button class="tablinks" id="recap_tab" (click)="switchTab(event, 'recap')" [hidden]="!isRecapArticleAvail || statusNum != 3">Recap</button>
    <button class="tablinks" id="game_info_tab" (click)="switchTab(event, 'game_info')">Game Info</button>
    <button class="tablinks" id="pbp_tab" (click)="switchTab(event, 'pbp')" [hidden]="statusNum === 1">Play-by-play</button>
    <button class="tablinks" id="totals_tab" (click)="switchTab(event, 'totals')" [hidden]="statusNum === 1">Totals</button>
    <button class="tablinks" id="boxscore_tab" (click)="switchTab(event, 'boxscore')" [hidden]="statusNum === 1">Boxscore</button>
</div>

<!-- Tab content -->
<div id="game_info" class="tabcontent">
    <table style="width:100%" id="info">
        <tr>
            <td width="50%"> Date </td>
            <td width="50%"> {{ longDate }} </td>
        </tr>
        <tr>
            <td> Arena Name </td>
            <td> {{ game_data["arena_name"] }} </td>
        </tr>
        <tr>
            <td> Location </td>
            <td> {{ game_data["arena_location"] }} </td>
        </tr>
        <tr *ngIf="game_data['attendance']">
            <td> Attendance </td>
            <td> {{ game_data["attendance"] }} </td>
        </tr>
        <tr>
            <td> Series Record </td>
            <td> {{ game_data["vTeamAbbrev"] }} {{ game_data["vTeamSeriesRecord"] }} {{ game_data["hTeamAbbrev"] }}</td>
        </tr>
        <tr *ngIf="game_data['broadcastersNational']">
            <td> National Broadcast </td>
            <td> {{ game_data["broadcastersNational"] }} </td>
        </tr>
        <tr *ngIf="game_data['vTeamBroadcasters']">
            <td> Visitor Broadcast </td>
            <td> {{ game_data["vTeamBroadcasters"] }} </td>
        </tr>
        <tr *ngIf="game_data['hTeamBroadcasters']">
            <td> Home Broadcast </td>
            <td> {{ game_data["hTeamBroadcasters"] }} </td>
        </tr>
        <tr *ngIf="game_data['officials']">
            <td> Officials </td>
            <td> {{ game_data["officials"] }} </td>
        </tr>
        <tr *ngIf="game_data['previousMatchup_gameDate']">
            <td colspan="2"><a href="date/{{ game_data['previousMatchup_gameDate'] }}/{{ game_data['previousMatchup_gameId'] }}"> Previous matchup </a></td>
        </tr>
    </table>
</div>

<div id="pbp" class="tabcontent" [hidden]="statusNum === 1">
    <app-pbp [date]="date" [gameId]="gameId" [statusNum]="statusNum"></app-pbp>
</div>

<div id="preview" class="tabcontent" [hidden]="!isPreviewArticleAvail || statusNum != 1">
    <h3>{{ preview_data["title"] }} </h3>
    
    <p *ngFor="let paragraph of preview">
        {{ paragraph }}
    </p>
</div>

<div id="recap" class="tabcontent" [hidden]="!isRecapArticleAvail || statusNum != 3">
    <h3>{{ recap_data["title"] }} </h3>
    
    <p *ngFor="let paragraph of recap">
        {{ paragraph }}
    </p>
</div>

<div id="totals" class="tabcontent" [hidden]="statusNum === 1">
    <app-totals [date]="date" [gameId]="gameId" [statusNum]="statusNum"></app-totals>
</div>

<div id="boxscore" class="tabcontent" [hidden]="statusNum === 1">
    <app-boxscore [date]="date" [gameId]="gameId" [statusNum]="statusNum"></app-boxscore>
</div>