<title>Search results for "{{ query }}"</title>

<app-header></app-header>

<div class="container mt-3" style="width: 75%; margin-left: auto; margin-right: auto;">

    <br>

    <form autocomplete="off">
        <input style="width: 70%; display: inline-block;" placeholder="Search..." type="text" class="form-control" 
                    name="search" [(ngModel)]="query"/>
                    <input type="submit" style="display: none" (click)="search()"/>
        <!--<button (click)="search()" [disabled]="disable_buttons"> Search </button>-->
    </form>

    <h3>Search results for "{{ query }}"</h3>

    <div class="tab">
        <button class="tablinks" id="players_tab" (click)="switchTab($event, 'players')">Players</button>
        <button class="tablinks" id="games_tab" (click)="switchTab($event, 'games')">Games</button>
        <button class="tablinks" id="teams_tab" (click)="switchTab($event, 'teams')">Teams</button>
        <button class="tablinks" id="coaches_tab" (click)="switchTab($event, 'coaches')">Coaches</button>
    </div>

    <div id="teams" class="tabcontent">
        <br>
        <table style="width: 50%">
            <tr>
                <th style="width: 50%">
                    Team Name
                </th>
                <th style="width: 30%">
                    Location
                </th>
                <th style="width: 20%">
                    Tricode
                </th>
            </tr>
            <tr *ngFor="let x of list_of_teams | teamsSearch : query" [routerLink]="['/team/', x['teamId'], year]">
                <td innerHTML="{{ emboldenResult(x['teamName']) }}"></td>
                <td innerHTML="{{ emboldenResult(x['location']) }}"></td>
                <td innerHTML="{{ emboldenResult(x['tricode']) }}"></td>
            </tr>
        </table>
    </div>

    <div id="games" class="tabcontent">
        <br>
        <table style="width: 100%">
            <tr>
                <th style="width: 20%">
                    Date
                </th>
                <th style="width: 15%">
                    Away
                </th>
                <th style="width: 2%">
                    
                </th>
                <th style="width: 15%">
                    Home
                </th>
                <th style="width: 15%">
                    Status
                </th>
                <th style="width: 33%">
                    Info
                </th>
            </tr>
            <tr *ngFor="let x of league_schedule | gamesSearch : query" [routerLink]="['/date/', x['startDateEastern'], x['gameId']]">
                <td innerHTML="{{ emboldenResult(x['longDate']) }}" style="text-align: left;">
                    {{ x["longDate"] }}
                </td>
                <td innerHTML="{{ emboldenResult(x['vTeamName']) }}" style="text-align: right;">
                    {{ x["vTeamName"] }}
                </td>
                <td style="text-align: center;">
                    @
                </td>
                <td innerHTML="{{ emboldenResult(x['hTeamName']) }}" style="text-align: left;">
                    {{ x["hTeamName"] }}
                </td>
                <td style="text-align: left;">
                    {{ x["statusText"] }}
                </td>
                <td style="text-align: left;">
                    {{ x["nugget"] }}
                </td>
            </tr>
        </table>
    </div>

    <div id="players" class="tabcontent">
        <br>
        <table style="width: 100%">
            <tr>
                <th>
                    Name
                </th>
            </tr>
            <tr *ngFor="let x of league_roster | playersSearch : query" [routerLink]="['/player/', x['personId'], year]">
                <td innerHTML="{{ emboldenResult(x['firstName'] + ' ' + x['lastName']) }}" style="text-align: left;">
                    {{ emboldenResult(x["firstName"] + " " + x["lastName"]) }}
                </td>
            </tr>
        </table>
    </div>

    <div id="coaches" class="tabcontent">
        <br>
        <table style="width: 100%">
            <tr>
                <th>
                    Name
                </th>
            </tr>
            <tr *ngFor="let x of list_of_coaches | coachesSearch : query" id="coaches_result">
                <td innerHTML="{{ emboldenResult(x['firstName'] + ' ' + x['lastName']) }}" style="text-align: left;">
                    {{ emboldenResult(x["firstName"] + " " + x["lastName"]) }}
                </td>
            </tr>
        </table>
    </div>
</div>