<title>{{ teamName }} team page</title>

<link rel="icon" type="image/x-icon" href="assets/images/team_logos/hawks_primary.png">

<app-header></app-header>

<br>

<div class="tab">
    <button class="tablinks" id="team_tab" (click)="switchTab($event, 'team')">Team</button>
    <button class="tablinks" id="roster_tab" (click)="switchTab($event, 'roster')">Roster</button>
    <button class="tablinks" id="schedule_tab" (click)="switchTab($event, 'schedule')">Schedule</button>
    <button class="tablinks" id="team_leaders_tab" (click)="switchTab($event, 'team_leaders')">Team Leaders</button>
</div>

<div id="team" class="tabcontent">
    <app-team-info [teamId]="teamId" [year]="year">
    </app-team-info>
</div>

<div id="roster" class="tabcontent">
    <app-roster [teamId]="teamId" [year]="year">
    </app-roster>
</div>

<div id="team_leaders" class="tabcontent">
    <app-team-leaders [hTeamId]="teamId" [year]="year">
    </app-team-leaders>
</div>

<div id="schedule" class="tabcontent">
    <app-schedule [teamId]="teamId" [year]="year">
    </app-schedule>
</div>