<h1><img src="{{ teamPrimaryLogoLocation }}" height="35px"> {{ teamName }} Roster and Schedule </h1>

<div class="container mt-3">
    <span> Roster </span>
    <table style="width:30%" id="team_table">
        <tr>
            <th> Name </th>
        </tr>
        <tr *ngFor="let player of roster">
            <td>
                <a [routerLink]="['/player', player['playerId']]"> {{ player["firstName"] }} {{ player["lastName"] }} </a>
            </td>
        </tr>
    </table>

    <br>

    <span> Schedule </span>
    <input style="width: 25%; display: inline-block;  margin-left: 5px;" placeholder="Search..." type="text" class="form-control" 
        name="search" [(ngModel)]="search"/>
    <table style="width:70%" id="team_table">
        <tr>
            <th width="10%"> Date </th>
            <th width="35%"> Away Team </th>
            <th width="20%"> Score </th>
            <th width="35%"> Home Team </th>
        </tr>
        <tr *ngFor="let game of list_of_games | teamsSearch: search;">
            <td>
                <a href="/date/{{ game['startDateEastern'] }}"> {{ game["longDate"] }} </a>
            </td>
            <td> 
                <a href="/team/{{ game['vTeamId'] }}">
                    <img src="{{ game['vTeamLogoLocation'] }}" height="35px">
                    <br>
                    {{ game["vTeamName"] }}
                </a>
            </td>
            <td>
                <div *ngIf="game['seasonStageId'] === 1"><span>Preseason</span></div>
                <div *ngIf="game['seasonStageId'] === 4">
                    <span>Playoffs (R{{ game["playoff_info"]["roundNum"] }}G{{ game["playoff_info"]["gameNumInSeries"] }})</span>
                </div>
                <br> 
                {{ game["vTeamScore"] }} - {{ game["hTeamScore"] }}
                <br>
                <a [routerLink]="['/date', game['startDateEastern'], game['gameId']]"> Boxscore </a>
            </td>
            <td>
                <a href="/team/{{ game['hTeamId'] }}">
                    <img src="{{ game['hTeamLogoLocation'] }}" height="35px">
                    <br>
                    {{ game["hTeamName"] }}
                </a>
            </td>
        </tr>
    </table>
</div>