a, td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

table {
    border-collapse: collapse;
    /*display: inline-block;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /*transition: 0.3s;*/
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
}

td {
    text-align: center;
}

.images {
    position: relative;
  }
  
  .img1 {
    position: relative;
    z-index: 1;
    /*top: 20px;*/
    max-height: 130px;
  }
  
  .img2 {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    max-height: 35px;
  }