th, td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    color: dimgray;
}

th {
    text-align: left;
}

th, td {
    padding: 5px;
}

table, th, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
}

table#conf_west tr:nth-child(even) {
    background-color: #eee;
}

table#conf_west tr:nth-child(odd) {
   background-color: #fff;
}

table#conf_west th {
    background-color: #C9082A;
    color: white;
}

table#conf_east tr:nth-child(even) {
    background-color: #eee;
}

table#conf_east tr:nth-child(odd) {
   background-color: #fff;
}

table#conf_east th {
    background-color: #17408B;
    color: white;
}

table#division_table tr:nth-child(even) {
    background-color: #eee;
}

table#division_table tr:nth-child(odd) {
   background-color: #fff;
}

table#division_table th {
    background-color: inherit;
    color: black;
}

table#key th, td {
    padding: 3px;
    font-size: small;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }