<div class="container mt-3">
    <table style="width: 90%" id="conf_west">
        <tr>
            <th style="text-align: center;"> Western Conference </th>
        </tr>
        <table style="width: 100%" id="division_table">
            <tr>
                <th colspan="9"> Southwest Division </th>
            </tr>
            <tr>
                <th style="width: 10%"> Div Rank </th>
                <th style="width: 30%"> Team </th>
                <th style="width: 10%"> Record </th>
                <th style="width: 10%"> Win Pct. </th>
                <th style="width: 10%"> Div Record</th>
                <th style="width: 10%"> Div Games Behind </th>
                <th style="width: 10%"> L10 </th>
                <th style="width: 10%"> Streak </th>
            </tr>
            <tr *ngFor="let team of southwest_standings">
                <td> {{ team["divRank"] }} </td>
                <td>
                    {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}<a [routerLink]="['/team', team['teamId'], seasonYear]">{{ team["teamName"] }} {{ team["teamNickname"] }}</a>
                </td>
                <td> {{ team["win"] }} - {{ team["loss"] }} </td>
                <td> {{ team["winPct"] }} </td>
                <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
                <td> {{ team["divGamesBehind"] }} </td>
                <td> {{ team["lastTenWin"] }}  - {{ team["lastTenLoss"] }} </td>
                <td> {{ team["streakText"] }} </td>
            </tr>
        </table>
        <table style="width: 100%" id="division_table">
            <tr>
                <th colspan="9"> Pacific Division </th>
            </tr>
            <tr>
                <th style="width: 10%"> Div Rank </th>
                <th style="width: 30%"> Team </th>
                <th style="width: 10%"> Record </th>
                <th style="width: 10%"> Win Pct. </th>
                <th style="width: 10%"> Div Record</th>
                <th style="width: 10%"> Div Games Behind </th>
                <th style="width: 10%"> L10 </th>
                <th style="width: 10%"> Streak </th>
            </tr>
            <tr *ngFor="let team of pacific_standings">
                <td> {{ team["divRank"] }} </td>
                <td>
                    {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}<a [routerLink]="['/team', team['teamId'], seasonYear]">{{ team["teamName"] }} {{ team["teamNickname"] }}</a>
                </td>
                <td> {{ team["win"] }} - {{ team["loss"] }} </td>
                <td> {{ team["winPct"] }} </td>
                <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
                <td> {{ team["divGamesBehind"] }} </td>
                <td> {{ team["lastTenWin"] }} - {{ team["lastTenLoss"] }} </td>
                <td> {{ team["streakText"] }} </td>
            </tr>
        </table>
        <table style="width: 100%" id="division_table">
            <tr>
                <th colspan="9"> Northwest Division </th>
            </tr>
            <tr>
                <th style="width: 10%"> Div Rank </th>
                <th style="width: 30%"> Team </th>
                <th style="width: 10%"> Record </th>
                <th style="width: 10%"> Win Pct. </th>
                <th style="width: 10%"> Div Record</th>
                <th style="width: 10%"> Div Games Behind </th>
                <th style="width: 10%"> L10 </th>
                <th style="width: 10%"> Streak </th>
            </tr>
            <tr *ngFor="let team of northwest_standings">
                <td> {{ team["divRank"] }} </td>
                <td>
                    {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}<a [routerLink]="['/team', team['teamId'], seasonYear]">{{ team["teamName"] }} {{ team["teamNickname"] }}</a>
                </td>
                <td> {{ team["win"] }} - {{ team["loss"] }} </td>
                <td> {{ team["winPct"] }} </td>
                <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
                <td> {{ team["divGamesBehind"] }} </td>
                <td> {{ team["lastTenWin"] }}  - {{ team["lastTenLoss"] }} </td>
                <td> {{ team["streakText"] }} </td>
            </tr>
        </table>
    </table>

    <br>

    <table style="width: 90%" id="conf_east">
        <tr>
            <th style="text-align: center;"> Eastern Conference </th>
        </tr>
        <table style="width: 100%" id="division_table">
            <tr>
                <th colspan="9"> Southeast Division </th>
            </tr>
            <tr>
                <th style="width: 10%"> Div Rank </th>
                <th style="width: 30%"> Team </th>
                <th style="width: 10%"> Record </th>
                <th style="width: 10%"> Win Pct. </th>
                <th style="width: 10%"> Div Record</th>
                <th style="width: 10%"> Div Games Behind </th>
                <th style="width: 10%"> L10 </th>
                <th style="width: 10%"> Streak </th>
            </tr>
            <tr *ngFor="let team of southeast_standings">
                <td> {{ team["divRank"] }} </td>
                <td>
                    {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}<a [routerLink]="['/team', team['teamId'], seasonYear]">{{ team["teamName"] }} {{ team["teamNickname"] }}</a>
                </td>
                <td> {{ team["win"] }} - {{ team["loss"] }} </td>
                <td> {{ team["winPct"] }} </td>
                <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
                <td> {{ team["divGamesBehind"] }} </td>
                <td> {{ team["lastTenWin"] }}  - {{ team["lastTenLoss"] }} </td>
                <td> {{ team["streakText"] }} </td>
            </tr>
        </table>
        <table style="width: 100%" id="division_table">
            <tr>
                <th colspan="9"> Atlantic Division </th>
            </tr>
            <tr>
                <th style="width: 10%"> Div Rank </th>
                <th style="width: 30%"> Team </th>
                <th style="width: 10%"> Record </th>
                <th style="width: 10%"> Win Pct. </th>
                <th style="width: 10%"> Div Record</th>
                <th style="width: 10%"> Div Games Behind </th>
                <th style="width: 10%"> L10 </th>
                <th style="width: 10%"> Streak </th>
            </tr>
            <tr *ngFor="let team of atlantic_standings">
                <td> {{ team["divRank"] }} </td>
                <td>
                    {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}<a [routerLink]="['/team', team['teamId'], seasonYear]">{{ team["teamName"] }} {{ team["teamNickname"] }}</a>
                </td>
                <td> {{ team["win"] }} - {{ team["loss"] }} </td>
                <td> {{ team["winPct"] }} </td>
                <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
                <td> {{ team["divGamesBehind"] }} </td>
                <td> {{ team["lastTenWin"] }}  - {{ team["lastTenLoss"] }} </td>
                <td> {{ team["streakText"] }} </td>
            </tr>
        </table>
        <table style="width: 100%" id="division_table">
            <tr>
                <th colspan="9"> Central Division </th>
            </tr>
            <tr>
                <th style="width: 10%"> Div Rank </th>
                <th style="width: 30%"> Team </th>
                <th style="width: 10%"> Record </th>
                <th style="width: 10%"> Win Pct. </th>
                <th style="width: 10%"> Div Record</th>
                <th style="width: 10%"> Div Games Behind </th>
                <th style="width: 10%"> L10 </th>
                <th style="width: 10%"> Streak </th>
            </tr>
            <tr *ngFor="let team of central_standings">
                <td> {{ team["divRank"] }} </td>
                <td>
                    {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}<a [routerLink]="['/team', team['teamId'], seasonYear]">{{ team["teamName"] }} {{ team["teamNickname"] }}</a>
                </td>
                <td> {{ team["win"] }} - {{ team["loss"] }} </td>
                <td> {{ team["winPct"] }} </td>
                <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
                <td> {{ team["divGamesBehind"] }} </td>
                <td> {{ team["lastTenWin"] }}  - {{ team["lastTenLoss"] }} </td>
                <td> {{ team["streakText"] }} </td>
            </tr>
        </table>
    </table>
</div>