<div class="row">
    <div class="column">
        <div style="padding-top: 15px; padding-right: 5px">
            <table style="width: 100%" id="conf_west">
                <tr>
                    <th style="text-align: center;"> Western Conference </th>
                </tr>
                <table style="width: 100%" id="division_table">
                    <tr>
                        <th colspan="9">Southwest Division </th>
                    </tr>
                    <tr>
                        <th style="width: 5%"> Rank </th>
                        <th style="width: 20%" colspan="2"> Team </th>
                        <th style="width: 12.5%"> Record </th>
                        <th style="width: 12.5%"> Win % </th>
                        <th style="width: 12.5%"> Div Record</th>
                        <th style="width: 12.5%"> Div GB </th>
                        <th style="width: 12.5%"> L10 </th>
                        <th style="width: 12.5%"> Streak </th>
                    </tr>
                    <tr *ngFor="let team of southwest_standings">
                        <td style="text-align: center;"> {{ team["divRank"] }} </td>
                        <td style="text-align: center;">
                            <img src="{{ team['teamLogoLocation'] }}" style="max-height: 15px; max-width: 20px">
                        </td>
                        <td style="text-align: left;">
                            {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}
                            <a [routerLink]="['/team', team['teamId'], seasonYear]">
                                {{ team["teamTricode"] }}
                            </a>
                        </td>
                        <td> {{ team["win"] }} - {{ team["loss"] }} </td>
                        <td> {{ team["winPct"] }} </td>
                        <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
                        <td> {{ team["divGamesBehind"] }} </td>
                        <td> {{ team["lastTenWin"] }}  - {{ team["lastTenLoss"] }} </td>
                        <td> {{ team["streakText"] }} </td>
                    </tr>
                </table>
                <table style="width: 100%" id="division_table">
                    <tr>
                        <th colspan="9"> Pacific Division </th>
                    </tr>
                    <tr>
                        <th style="width: 5%"> Rank </th>
                        <th style="width: 20%" colspan="2"> Team </th>
                        <th style="width: 12.5%"> Record </th>
                        <th style="width: 12.5%"> Win % </th>
                        <th style="width: 12.5%"> Div Record</th>
                        <th style="width: 12.5%"> Div GB </th>
                        <th style="width: 12.5%"> L10 </th>
                        <th style="width: 12.5%"> Streak </th>
                    </tr>
                    <tr *ngFor="let team of pacific_standings">
                        <td style="text-align: center;"> {{ team["divRank"] }} </td>
                        <td style="text-align: center;">
                            <img src="{{ team['teamLogoLocation'] }}" style="max-height: 15px; max-width: 20px">
                        </td>
                        <td style="text-align: left;">
                            {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}
                            <a [routerLink]="['/team', team['teamId'], seasonYear]">
                                {{ team["teamTricode"] }}
                            </a>
                        </td>
                        <td> {{ team["win"] }} - {{ team["loss"] }} </td>
                        <td> {{ team["winPct"] }} </td>
                        <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
                        <td> {{ team["divGamesBehind"] }} </td>
                        <td> {{ team["lastTenWin"] }}  - {{ team["lastTenLoss"] }} </td>
                        <td> {{ team["streakText"] }} </td>
                    </tr>
                </table>
                <table style="width: 100%" id="division_table">
                    <tr>
                        <th colspan="9"> Northwest Division </th>
                    </tr>
                    <tr>
                        <th style="width: 5%"> Rank </th>
                        <th style="width: 20%" colspan="2"> Team </th>
                        <th style="width: 12.5%"> Record </th>
                        <th style="width: 12.5%"> Win % </th>
                        <th style="width: 12.5%"> Div Record</th>
                        <th style="width: 12.5%"> Div GB </th>
                        <th style="width: 12.5%"> L10 </th>
                        <th style="width: 12.5%"> Streak </th>
                    </tr>
                    <tr *ngFor="let team of northwest_standings">
                        <td style="text-align: center;"> {{ team["divRank"] }} </td>
                        <td style="text-align: center;">
                            <img src="{{ team['teamLogoLocation'] }}" style="max-height: 15px; max-width: 20px">
                        </td>
                        <td style="text-align: left;">
                            {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}
                            <a [routerLink]="['/team', team['teamId'], seasonYear]">
                                {{ team["teamTricode"] }}
                            </a>
                        </td>
                        <td> {{ team["win"] }} - {{ team["loss"] }} </td>
                        <td> {{ team["winPct"] }} </td>
                        <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
                        <td> {{ team["divGamesBehind"] }} </td>
                        <td> {{ team["lastTenWin"] }}  - {{ team["lastTenLoss"] }} </td>
                        <td> {{ team["streakText"] }} </td>
                    </tr>
                </table>
            </table>
        </div>
    </div>
    <div class="column">
        <div style="padding-top: 15px; padding-left: 5px">
            <table style="width: 100%" id="conf_east">
                <tr>
                    <th style="text-align: center;"> Eastern Conference </th>
                </tr>
                <table style="width: 100%" id="division_table">
                    <tr>
                        <th colspan="9"> Southeast Division </th>
                    </tr>
                    <tr>
                        <th style="width: 5%"> Rank </th>
                        <th style="width: 20%" colspan="2"> Team </th>
                        <th style="width: 12.5%"> Record </th>
                        <th style="width: 12.5%"> Win % </th>
                        <th style="width: 12.5%"> Div Record</th>
                        <th style="width: 12.5%"> Div GB </th>
                        <th style="width: 12.5%"> L10 </th>
                        <th style="width: 12.5%"> Streak </th>
                    </tr>
                    <tr *ngFor="let team of southeast_standings">
                        <td style="text-align: center;"> {{ team["divRank"] }} </td>
                        <td style="text-align: center;">
                            <img src="{{ team['teamLogoLocation'] }}" style="max-height: 15px; max-width: 20px">
                        </td>
                        <td style="text-align: left;">
                            {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}
                            <a [routerLink]="['/team', team['teamId'], seasonYear]">
                                {{ team["teamTricode"] }}
                            </a>
                        </td>
                        <td> {{ team["win"] }} - {{ team["loss"] }} </td>
                        <td> {{ team["winPct"] }} </td>
                        <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
                        <td> {{ team["divGamesBehind"] }} </td>
                        <td> {{ team["lastTenWin"] }}  - {{ team["lastTenLoss"] }} </td>
                        <td> {{ team["streakText"] }} </td>
                    </tr>
                </table>
                <table style="width: 100%" id="division_table">
                    <tr>
                        <th colspan="9"> Atlantic Division </th>
                    </tr>
                    <tr>
                        <th style="width: 5%"> Rank </th>
                        <th style="width: 20%" colspan="2"> Team </th>
                        <th style="width: 12.5%"> Record </th>
                        <th style="width: 12.5%"> Win % </th>
                        <th style="width: 12.5%"> Div Record</th>
                        <th style="width: 12.5%"> Div GB </th>
                        <th style="width: 12.5%"> L10 </th>
                        <th style="width: 12.5%"> Streak </th>
                    </tr>
                    <tr *ngFor="let team of atlantic_standings">
                        <td style="text-align: center;"> {{ team["divRank"] }} </td>
                        <td style="text-align: center;">
                            <img src="{{ team['teamLogoLocation'] }}" style="max-height: 15px; max-width: 20px">
                        </td>
                        <td style="text-align: left;">
                            {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}
                            <a [routerLink]="['/team', team['teamId'], seasonYear]">
                                {{ team["teamTricode"] }}
                            </a>
                        </td>
                        <td> {{ team["win"] }} - {{ team["loss"] }} </td>
                        <td> {{ team["winPct"] }} </td>
                        <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
                        <td> {{ team["divGamesBehind"] }} </td>
                        <td> {{ team["lastTenWin"] }}  - {{ team["lastTenLoss"] }} </td>
                        <td> {{ team["streakText"] }} </td>
                    </tr>
                </table>
                <table style="width: 100%" id="division_table">
                    <tr>
                        <th colspan="9"> Central Division </th>
                    </tr>
                    <tr>
                        <th style="width: 5%"> Rank </th>
                        <th style="width: 20%" colspan="2"> Team </th>
                        <th style="width: 12.5%"> Record </th>
                        <th style="width: 12.5%"> Win % </th>
                        <th style="width: 12.5%"> Div Record</th>
                        <th style="width: 12.5%"> Div GB </th>
                        <th style="width: 12.5%"> L10 </th>
                        <th style="width: 12.5%"> Streak </th>
                    </tr>
                    <tr *ngFor="let team of central_standings">
                        <td style="text-align: center;"> {{ team["divRank"] }} </td>
                        <td style="text-align: center;">
                            <img src="{{ team['teamLogoLocation'] }}" style="max-height: 15px; max-width: 20px">
                        </td>
                        <td style="text-align: left;">
                            {{ team["clinchedPlayoffsCode"] != "" ? team["clinchedPlayoffsCode"] + "-" : "" }}
                            <a [routerLink]="['/team', team['teamId'], seasonYear]">
                                {{ team["teamTricode"] }}
                            </a>
                        </td>
                        <td> {{ team["win"] }} - {{ team["loss"] }} </td>
                        <td> {{ team["winPct"] }} </td>
                        <td> {{ team["divWin"] }} - {{ team["divLoss"] }} </td>
                        <td> {{ team["divGamesBehind"] }} </td>
                        <td> {{ team["lastTenWin"] }}  - {{ team["lastTenLoss"] }} </td>
                        <td> {{ team["streakText"] }} </td>
                    </tr>
                </table>
            </table>
        </div>
    </div>
</div>

<div>
    <table id="key" style="width: 80%; margin-left: auto; margin-right: auto;">
        <tr>
            <td style="width: 25%">
                x<span> - Clinched Playoff Berth</span>
            </td>
            <td style="width: 25%">
                w<span> - Clinched Western Conference</span>
            </td>
            <td style="width: 25%">
                sw<span> - Clinched Southwest Division</span>
            </td>
            <td style="width: 25%">
                se<span> - Clinched Southeast Division</span>
            </td>
        </tr>
        <tr>
            <td>
                o<span> - Eliminated from Playoffs contention</span>
            </td>
            <td>
                nw<span> - Clinched Northwest Division</span>
            </td>
            <td>
                a<span> - Clinched Atlantic Division</span>
            </td>
        </tr>
        <tr>
            <td>
                e<span> - Clinched Eastern Conference</span>
            </td>
            <td>
                p<span> - Clinched Pacific Division</span>
            </td>
            <td>
                c<span> - Clinched Central Division</span>
            </td>
        </tr>
    </table>
</div>