<title>Scores for {{ longDate }}</title>

<app-header></app-header>

<div class="container mt-3" style="width: 75%; margin-left: auto; margin-right: auto;">
    <h3> Scores for {{ longDate }} </h3>

    <a href="/date/{{ previousDate }}">Previous Day</a>
    <span> || </span>
    <div class="dropdown">
        <img src="assets/images/calendar_icon.png" style="max-height: 12px;">
        <span> {{ longDate }}</span>
        <div class="dropdown-content">
            <app-calendar [date]="date"></app-calendar>
        </div>
    </div>
    <span> || </span>
    <a href="/date/{{ nextDate }}">Next Day</a>

    <br>
    <br>

    <div *ngIf="games.length === 0; else elseBlock">
        <h3>No NBA Games Today!</h3>
    </div>
    <ng-template #elseBlock>
        <ng-container *ngFor="let game of games">
            <a href="date/{{date}}/{{game['gameId']}}" style="text-decoration: none; color: inherit;">
                <app-scoreboard [useSecondaryLogos]="true" [date]="date" [gameId]="game['gameId']" [statusNum]="game['statusNum']">
                </app-scoreboard>
            </a>
            <br>
        </ng-container>
    </ng-template>
</div>
