<app-header></app-header>

<h1> NBA Scores </h1>

<div class="container mt-3">
    <span> Scores for {{ longDate }} </span>
    <div *ngIf="games.length === 0; else elseBlock">
        <h3>No NBA Games Today!</h3>
    </div>
    <ng-template #elseBlock>
        <table style="width:70%" id="t01">
            <tr>
                <th width="40%"> Away Team </th>
                <th width="20%"> Score </th>
                <th width="40%"> Home Team </th>
            </tr>
            <tr *ngFor="let game of games">
                <td> 
                    <a [routerLink]="['/team', game['visitingTeamId'], game['seasonYear']]">
                        <img src="{{ game['visitingTeamLogoLocation'] }}" height="35px">
                        <br>
                        {{ game["visitingTeam"] }}
                    </a>
                    <br>
                    {{ game["visitingRecord"] }} 
                </td>
                <td>
                    <div *ngIf="game['seasonStageId'] === 1"><span>Preseason</span></div>
                    <div *ngIf="game['seasonStageId'] === 4">
                        <span>Playoffs 
                            <a [routerLink]="['/series', game['playoff_info']['seriesId'], game['seasonYear']]">(R{{ game["playoff_info"]["roundNum"] }}G{{ game["playoff_info"]["gameNumInSeries"] }})</a>
                        </span>
                    </div>
                    {{ game["label"] }} 
                    <br> 
                    {{ game["visitingScore"] }} - {{ game["homeScore"] }}
                    <br>
                    <a [routerLink]="['/date', date, game['game_Id']]"> Boxscore </a>
                </td>
                <td>
                    <a [routerLink]="['/team', game['homeTeamId'], game['seasonYear']]">
                        <img src="{{ game['homeTeamLogoLocation'] }}" height="35px">
                        <br>
                        {{ game["homeTeam"] }}
                    </a>
                    <br>
                    {{ game["homeRecord"] }} 
                </td>
            </tr>
        </table>
    </ng-template>
    <a href="/date/{{ previousDate }}"> Previous Day </a>
    <a href="/date/{{ nextDate }}"> Next Day </a>
</div>
