table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    padding: 8px;
}

td {
    text-align: center;
}

table#visiting_team th {
    background-color: var(--visiting_team_primary);
    color: var(--visiting_team_secondary);
}

table#visiting_team tr:nth-child(even) {
    background-color: #eee;
}

table#visiting_team tr:nth-child(odd) {
   background-color: #fff;
}


table#home_team th {
    background-color: var(--home_team_primary);
    color: var(--home_team_secondary);
}

table#home_team tr:nth-child(even) {
    background-color: #eee;
}

table#home_team tr:nth-child(odd) {
   background-color: #fff;
}