<title>{{ year }} - {{ playoff_year }} Playoff Bracket</title>

<h1> {{ year }} - {{ playoff_year }} Playoff Bracket </h1>

<div class="container mt-3">
    <table style="width: 100%">
        <tr>
            <td width="14%"></td>
            <td width="14%"></td>
            <td width="14%"></td>
            <td width="14%"></td>
            <td width="14%"></td>
            <td width="14%"></td>
            <td width="14%"></td>
        </tr>
        <tr>
            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_10_top"
                    [routerLink]="['/series', series_10['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_10["topTeamSeed"] }} - {{ series_10["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_10["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_10_bottom"
                    [routerLink]="['/series', series_10['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_10["bottomTeamSeed"] }} - {{ series_10["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_10["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>

            <td colspan="5"></td>

            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_14_top"
                    [routerLink]="['/series', series_14['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_14["topTeamSeed"] }} - {{ series_14["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_14["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_14_bottom"
                    [routerLink]="['/series', series_14['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_14["bottomTeamSeed"] }} - {{ series_14["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_14["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>

            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_20_top"
                    [routerLink]="['/series', series_20['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_20["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_20["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_20_bottom"
                    [routerLink]="['/series', series_20['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_20["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_20["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>

            <td colspan="3"></td>

            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_22_top"
                    [routerLink]="['/series', series_22['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_22["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_22["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_22_bottom"
                    [routerLink]="['/series', series_22['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_22["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_22["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>

        </tr>

        <tr>
            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_11_top"
                    [routerLink]="['/series', series_11['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_11["topTeamSeed"] }} - {{ series_11["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_11["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_11_bottom"
                    [routerLink]="['/series', series_11['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_11["bottomTeamSeed"] }} - {{ series_11["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_11["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>

            <td colspan="3"></td>

            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_15_top"
                    [routerLink]="['/series', series_15['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_15["topTeamSeed"] }} - {{ series_15["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_15["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_15_bottom"
                    [routerLink]="['/series', series_15['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_15["bottomTeamSeed"] }} - {{ series_15["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_15["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>

        </tr>

        <tr>

            <td></td>

            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_30_top"
                    [routerLink]="['/series', series_30['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_30["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_30["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_30_bottom"
                    [routerLink]="['/series', series_30['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_30["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_30["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>

            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_40_top"
                    [routerLink]="['/series', series_40['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_40["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_40["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_40_bottom"
                    [routerLink]="['/series', series_40['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_40["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_40["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>

            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_31_top"
                    [routerLink]="['/series', series_31['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_31["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_31["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_31_bottom"
                    [routerLink]="['/series', series_31['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_31["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_31["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>

            <td></td>

        </tr>

        <tr>
            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_12_top"
                    [routerLink]="['/series', series_12['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_12["topTeamSeed"] }} - {{ series_12["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_12["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_12_bottom"
                    [routerLink]="['/series', series_12['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_12["bottomTeamSeed"] }} - {{ series_12["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_12["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>

            <td></td>

            <td></td>

            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_16_top"
                    [routerLink]="['/series', series_16['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_16["topTeamSeed"] }} - {{ series_16["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_16["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_16_bottom"
                    [routerLink]="['/series', series_16['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_16["bottomTeamSeed"] }} - {{ series_16["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_16["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>

            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_21_top"
                    [routerLink]="['/series', series_21['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_21["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_21["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_21_bottom"
                    [routerLink]="['/series', series_21['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_21["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_21["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>

            <td colspan="3"></td>

            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_23_top"
                    [routerLink]="['/series', series_23['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_23["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_23["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_23_bottom"
                    [routerLink]="['/series', series_23['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_23["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_23["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>

        </tr>

        <tr>
            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_13_top"
                    [routerLink]="['/series', series_13['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_13["topTeamSeed"] }} - {{ series_13["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_13["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_13_bottom"
                    [routerLink]="['/series', series_13['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_13["bottomTeamSeed"] }} - {{ series_13["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_13["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>

            <td colspan="3"></td>

            <td rowspan="2">  
                <table style="table-layout: fixed; height:100%; width: 100%;" id="series_17_top"
                    [routerLink]="['/series', series_17['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_17["topTeamSeed"] }} - {{ series_17["topTeamName"] }} </th>
                        <th style="text-align: right; width: 11%"> {{ series_17["topTeamWins"] }} </th>
                    </tr>
                </table>
                <table style="table-layout: fixed; width: 100%;" id="series_17_bottom"
                    [routerLink]="['/series', series_17['seriesId'], year]">
                    <tr>
                        <th style="text-align: left; width: 90%;"> {{ series_17["bottomTeamSeed"] }} - {{ series_17["bottomTeamName"] }} </th>
                        <th style="text-align: right; width: 11%;"> {{ series_17["bottomTeamWins"] }} </th>
                    </tr>
                </table>
            </td>
            
        </tr>

        <tr>

            <td colspan="5"></td>

            
        </tr>
    </table>
</div>