th {
    text-align: left;
    font-size: x-small;
}

th, td {
    padding: 4px;
}

td, th {
    border-collapse: collapse;
}

td:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

td#series_10_top {
    background-color: var(--series_10_top_primary);
    color: var(--series_10_top_secondary);
    
}

td#series_10_bottom {
    background-color: var(--series_10_bottom_primary);
    color: var(--series_10_bottom_secondary);
    border: 1px solid var(--series_10_bottom_primary);
    border-collapse: collapse;
}



td#series_11_top {
    background-color: var(--series_11_top_primary);
    color: var(--series_11_top_secondary);
    border: 1px solid var(--series_11_top_primary);
    border-collapse: collapse;
}

td#series_11_bottom {
    background-color: var(--series_11_bottom_primary);
    color: var(--series_11_bottom_secondary);
    border: 1px solid var(--series_11_bottom_primary);
    border-collapse: collapse;
}


td#series_12_top {
    background-color: var(--series_12_top_primary);
    color: var(--series_12_top_secondary);
    border: 1px solid var(--series_12_top_primary);
    border-collapse: collapse;
}

td#series_12_bottom {
    background-color: var(--series_12_bottom_primary);
    color: var(--series_12_bottom_secondary);
    border: 1px solid var(--series_12_bottom_primary);
    border-collapse: collapse;
}



td#series_13_top {
    background-color: var(--series_13_top_primary);
    color: var(--series_13_top_secondary);
    border: 1px solid var(--series_13_top_primary);
    border-collapse: collapse;
}

td#series_13_bottom {
    background-color: var(--series_13_bottom_primary);
    color: var(--series_13_bottom_secondary);
    border: 1px solid var(--series_13_bottom_primary);
    border-collapse: collapse;
}



td#series_14_top {
    background-color: var(--series_14_top_primary);
    color: var(--series_14_top_secondary);
    border: 1px solid var(--series_14_top_primary);
    border-collapse: collapse;
}

td#series_14_bottom {
    background-color: var(--series_14_bottom_primary);
    color: var(--series_14_bottom_secondary);
    border: 1px solid var(--series_14_bottom_primary);
    border-collapse: collapse;
}


td#series_15_top {
    background-color: var(--series_15_top_primary);
    color: var(--series_15_top_secondary);
    border: 1px solid var(--series_15_top_primary);
    border-collapse: collapse;
}

td#series_15_bottom {
    background-color: var(--series_15_bottom_primary);
    color: var(--series_15_bottom_secondary);
    border: 1px solid var(--series_15_bottom_primary);
    border-collapse: collapse;
}



td#series_16_top {
    background-color: var(--series_16_top_primary);
    color: var(--series_16_top_secondary);
    border: 1px solid var(--series_16_top_primary);
    border-collapse: collapse;
}

td#series_16_bottom {
    background-color: var(--series_16_bottom_primary);
    color: var(--series_16_bottom_secondary);
    border: 1px solid var(--series_16_bottom_primary);
    border-collapse: collapse;
}



td#series_17_top {
    background-color: var(--series_17_top_primary);
    color: var(--series_17_top_secondary);
    border: 1px solid var(--series_17_top_primary);
    border-collapse: collapse;
}

td#series_17_bottom {
    background-color: var(--series_17_bottom_primary);
    color: var(--series_17_bottom_secondary);
    border: 1px solid var(--series_17_bottom_primary);
    border-collapse: collapse;
}



td#series_20_top {
    background-color: var(--series_20_top_primary);
    color: var(--series_20_top_secondary);
    border: 1px solid var(--series_20_top_primary);
    border-collapse: collapse;
}

td#series_20_bottom {
    background-color: var(--series_20_bottom_primary);
    color: var(--series_20_bottom_secondary);
    border: 1px solid var(--series_20_bottom_primary);
    border-collapse: collapse;
}


td#series_21_top {
    background-color: var(--series_21_top_primary);
    color: var(--series_21_top_secondary);
    border: 1px solid var(--series_21_top_primary);
    border-collapse: collapse;
}

td#series_21_bottom {
    background-color: var(--series_21_bottom_primary);
    color: var(--series_21_bottom_secondary);
    border: 1px solid var(--series_21_bottom_primary);
    border-collapse: collapse;
}



td#series_22_top {
    background-color: var(--series_22_top_primary);
    color: var(--series_22_top_secondary);
    border: 1px solid var(--series_22_top_primary);
    border-collapse: collapse;
}

td#series_22_bottom {
    background-color: var(--series_22_bottom_primary);
    color: var(--series_22_bottom_secondary);
    border: 1px solid var(--series_22_bottom_primary);
    border-collapse: collapse;
}



td#series_23_top {
    background-color: var(--series_23_top_primary);
    color: var(--series_23_top_secondary);
    border: 1px solid var(--series_23_top_primary);
    border-collapse: collapse;
}

td#series_23_bottom {
    background-color: var(--series_23_bottom_primary);
    color: var(--series_23_bottom_secondary);
    border: 1px solid var(--series_23_bottom_primary);
    border-collapse: collapse;
}



td#series_30_top {
    background-color: var(--series_30_top_primary);
    color: var(--series_30_top_secondary);
    border: 1px solid var(--series_30_top_primary);
    border-collapse: collapse;
}

td#series_30_bottom {
    background-color: var(--series_30_bottom_primary);
    color: var(--series_30_bottom_secondary);
    border: 1px solid var(--series_30_bottom_primary);
    border-collapse: collapse;
}




td#series_31_top {
    background-color: var(--series_31_top_primary);
    color: var(--series_31_top_secondary);
    border: 1px solid var(--series_31_top_primary);
    border-collapse: collapse;
}

td#series_31_bottom {
    background-color: var(--series_31_bottom_primary);
    color: var(--series_31_bottom_secondary);
    border: 1px solid var(--series_31_bottom_primary);
    border-collapse: collapse;
}



td#series_40_top {
    background-color: var(--series_40_top_primary);
    color: var(--series_40_top_secondary);
    border: 1px solid var(--series_40_top_primary);
    border-collapse: collapse;
}

td#series_40_bottom {
    background-color: var(--series_40_bottom_primary);
    color: var(--series_40_bottom_secondary);
    border: 1px solid var(--series_40_bottom_primary);
    border-collapse: collapse;
}